@font-face{
    font-family: 'Poiret One';
    src:url('../fonts/PoiretOne-Regular.ttf');
}
.logo{
   padding: 6px 0 10px 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  width: 55px;
  display: block;
}
.gu{
 float: left;   
}
input{
    font-family:'Poiret One', cursive;
    font-size: 15pt;
    font-weight: bold;
}
#hide1, #hide2, #hide3, #hide4, #hide5, #hide6, #hide7, #hide8, #hide9, #hide10 {
background: #ffffff;
width: 100px;
height: 30px;
border-radius: 20px;
border:#ffffff;
font-size: 15pt;
color: black;
left: 40%;
font-family: 'Poiret One', cursive;
    
}
.f1, .f2, .f3, .f4, .f5, .f6, .f7, .f8, .f9, .f10{           
margin:50% 25% 0 25%;
width:50%;
background-color:#dedede;
height: auto;
display: none;
position: absolute;
    font-size: 15pt;
 z-index: 12; 
    
    border-radius: 30px;
}
video{
 width:100%;

}
.film{
    width:40%;
    background: url(../img1/gif.gif) no-repeat;
    margin: 0 30% 0 30%;
    border-radius: 100px;
    
}


h2{
font-size: 15pt;
padding: 15px;
font-family: 'Poiret One', cursive;
line-height: 1.5;
    margin: 15px;
}
.one{
background-color: darksalmon;
width: 70px;
height: 30px;     
}
#mask {
background-color:black;
height:250%;
position:absolute;
width:100%;
top:0;
left:0;
z-index: 11;
opacity: 0.5;
display: none;
    
   
}
header{
background-image:url(../img1/fon2.jpg);
height: 700px;
background-size: cover;
z-index: -1; 
    
}
nav{
position: fixed;
bottom: 0;
width: 100%;
height: 50px;
opacity: 0.8;
z-index: 1;
top: 0;
left: 0;
border-bottom: 1px solid #f1f1f1;
display: block;
padding: 0px 15px 5px 15px;
background: #ffffff;    
}
 ul li {
list-style-type: none;
height: auto;   
}
ul {
margin: 0;
padding: 0;
display: flex;
height: 50px;
align-items: center;
justify-content: space-around;
}
a {
font-size: 18pt;
text-decoration:none;
color: #000000;
text-align: center; 
    font-family: 'Poiret One', cursive;
    font-weight: bolder;
}
a:hover{
text-decoration: underline;
}
img:hover{
    cursor: pointer;
}
main{
    width: 100%;
height: auto;
background-color: #f6f6f6;
    position: absolute;
}

.footer-top{
  width: 100%;
  text-align: center;
  color: #cccccc;
  display: table;
}
.socials{
  width: 100%;
  margin: 0;
  padding: 0;
}

.socials * {
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.socials li {
  display: inline-block;
  list-style: outside none none;
  float: left;
  overflow: hidden;
  width: 100%;
  font-size: 18px;
}

.socials a {
  padding: 0.3em 0.8em;
  color: rgba(255, 255, 255, 0.7);
  position: relative;
  display: inline-block;
  letter-spacing: 1px;
  margin: 0;
  text-decoration: none;
  padding: 25px 0;
  width: 100%;
}

.socials a:before,
.socials a:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.socials a:before {
  bottom: 100%;
  display: block;
  height: 3px;
  width: 100%;
  content: "";
}

.socials a:after {
  padding: 0.3em 0.8em;
  position: absolute;
  bottom: 100%;
  left: 0;
  content: attr(data-hover);
  color: white;
  white-space: nowrap;
  width: 100%;
  padding: 25px 0;
    font-family: 'Poiret One', cursive;
}

.socials li:hover a,
.socials .current a {
  transform: translateY(100%);
}

.vk{
  background: #969696;
  /*padding: 20px 0;*/
}
.vk a:after{
  background-color: #527bbb;
}
footer{
    height: auto;
    width: 100%;
    position: absolute;
}
@media screen and (max-width:640px) {
    
#hide1, #hide2, #hide3, #hide4, #hide5, #hide6, #hide7, #hide8, #hide9, #hide10 {
background: #ffffff;
width: 70px;
height: 20px;
border-radius: 20px;
border:#ffffff;
font-size: 10pt;
color: black;
left: 30%;
font-family: 'Poiret One', cursive;
    
}
.film{
    width:40%;
    background: url(../img1/gif.gif) no-repeat;
    margin: 0 30% 0 30%;
    border-radius: 100px;
    
}
    h2{
font-size: 10pt;
padding: 15px;
font-family: 'Poiret One', cursive;
line-height: 1.5;
    margin: 15px;
}
    header{
background-image:url(../img1/fon2-640.jpg);
height: 350px;
background-size: auto;
z-index: -1; 
    
}
    a {
font-size: 14pt;
text-decoration:none;
color: #000000;
text-align: center; 
    font-family: 'Poiret One', cursive;
    font-weight: bolder;
}
.f1, .f2, .f3, .f4, .f5, .f6, .f7, .f8, .f9, .f10{           
margin:20% 25% 0 25%;

}
}
@media screen and (min-width:640px) and (max-width:1080px) {
 header{
background-image:url(../img1/fon2-1080.jpg);
height: 450px;
background-size: auto;
z-index: -1; 
    
}   
#hide1, #hide2, #hide3, #hide4, #hide5, #hide6, #hide7, #hide8, #hide9, #hide10 {
background: #ffffff;
width: 70px;
height: 20px;
border-radius: 20px;
border:#ffffff;
font-size: 12pt;
color: black;
left: 30%;
font-family: 'Poiret One', cursive;
    
}
.film{
    width:40%;
    background: url(../img1/gif.gif) no-repeat;
    margin: 0 30% 0 30%;
    border-radius: 100px;
    
}
    h2{
font-size: 12pt;
padding: 15px;
font-family: 'Poiret One', cursive;
line-height: 1.5;
    margin: 15px;
}
    a {
font-size: 15pt;
text-decoration:none;
color: #000000;
text-align: center; 
    font-family: 'Poiret One', cursive;
    font-weight: bolder;
}
.f1, .f2, .f3, .f4, .f5, .f6, .f7, .f8, .f9, .f10{           
margin:20% 25% 0 25%;

}    
}